<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <httpCompression>
            <dynamicTypes>
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="text/css" enabled="true" />
                <add mimeType="text/html" enabled="true" />
            </dynamicTypes>
            <staticTypes>
                <add mimeType="application/json" enabled="true" />
                <add mimeType="application/javascript" enabled="true" />
                <add mimeType="text/css" enabled="true" />
                <add mimeType="text/html" enabled="true" />
            </staticTypes>
        </httpCompression>
        <rewrite>
            <rules>
                <rule name="HTTP to HTTPS redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect content to root" stopProcessing="true">
                    <match url="^content/(.*)" />
                    <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="Redirect root to content - carte" stopProcessing="true">
                    <match url="^carte/?$" />
                    <action type="Rewrite" url="content/carte/index.html" />
                </rule>
                <rule name="Redirect root to content - narration" stopProcessing="true">
                    <match url="^narration/?$" />
                    <action type="Rewrite" url="content/narration/index.html" />
                </rule>
                <rule name="Redirect root to content - personnages" stopProcessing="true">
                    <match url="^personnages/?$" />
                    <action type="Rewrite" url="content/personnages/index.html" />
                </rule>
                <rule name="Redirect root to content - login" stopProcessing="true">
                    <match url="^login/?$" />
                    <action type="Rewrite" url="content/login/index.html" />
                </rule>
                <rule name="Redirect mondes paths" stopProcessing="true">
                    <match url="^mondes/(.*)$" />
                    <action type="Rewrite" url="content/mondes/{R:1}" />
                </rule>
                <rule name="Redirect organisateurs paths" stopProcessing="true">
                    <match url="^organisateurs/(.*)$" />
                    <action type="Rewrite" url="content/organisateurs/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="DENY" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
            <!-- Types MIME nécessaires pour le bon fonctionnement du site -->
            <remove fileExtension=".json" />
            <remove fileExtension=".webp" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        </staticContent>
    </system.webServer>
</configuration>